<div class="row">
    <div class="col-6">
        <app-doughnut [title]="'Sales'" [labels]="['test1', 'test2', 'test3']" [data]="[35, 200, 80]"></app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut [title]="'Accounts'" [labels]="['sjhdghsa', 'aslhdjkas', 'ashdjsad']" [data]="[10, 15, 40]"></app-doughnut>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-doughnut [title]="'Clients'" [labels]="['62374', '56344', '9089']" [data]="[150, 450, 500]"></app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut [title]="'Providers'" [labels]="['a78sd6asd', 'as78d678asd', 'sad678asd']" [data]="[75, 850, 100]"></app-doughnut>
    </div>
</div>